# Dependencies
**/node_modules/
**/.venv/
**/dist/
**/build/

# DuckDB files
*.duckdb
*.db
*.wal

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Other
.DS_Store
tests/visual/screenshots/
.playwright-cli/
.deepeval/
.pytest_cache/
.cbio/
