<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 10px; padding: 10px 0;">
    <div style="width: 330px; text-align: right; margin-right: 20px;">
        <a style="cursor: pointer;"><div><b>{{ total_studies }}</b> studies available (<b>{{ "{:,}".format(total_samples) }}</b> samples)</div></a>
    </div>
    <a class="btn btn-primary btn-lg disabled" style="margin: 0 10px;">
        <i class="fa fa-search" style="margin-top: 4px; margin-right: -2px;"></i>&nbsp; Query By Gene
    </a>
    OR
    <a class="btn btn-primary btn-lg disabled" style="margin: 0 10px;">
        <i class="ci ci-pie-chart" style="margin-top: 5px;"></i> Explore Selected Studies
    </a>
</div>
