<div class="headBlock"></div>
<div class="styles-module__QueryAndDownloadTabs__Idsy6" style="position: relative; flex: 1; min-height: 0; display: flex; flex-direction: column;">
    <div class="citationRule" style="position: absolute; z-index: 10; top: 10px; right: 20px; font-size: 12px;">Please cite <a href="https://docs.cbioportal.org/user-guide/faq/#how-do-i-cite-the-cbioportal" target="_blank">cBioPortal <i class="fa fa-book"></i></a></div>
    <div class="msk-tabs posRelative mainTabs" style="flex: 1; min-height: 0; display: flex; flex-direction: column;">
        <ul class="nav nav-tabs" style="margin: 0; width: 100%;">
            <li class="active" style="cursor: pointer;">
                <a class="tabAnchor tabAnchor_advanced">Query</a>
            </li>
            <li style="cursor: pointer;">
                <a class="tabAnchor tabAnchor_quickSearch"><span>Quick Search</span></a>
            </li>
        </ul>
        <div class="tab-content" style="flex: 1; min-height: 0; display: flex; flex-direction: column; padding: 20px 0 0 0;">
            <div class="msk-tab" style="flex: 1; min-height: 0; display: flex; flex-direction: column; margin: 0; width: 100%;">
                {% include "home/partials/study_selector_header.html" %}
            </div>
        </div>
    </div>
</div>
