<div id="footer">
    <div class="footer-layout">
        <div class="footer-elem">
            <img src="/static/img/cbioportal_logo.png" alt="cBioPortal Logo" style="width: 142px; filter: grayscale(100%);">
            <div style="padding-top: 9px; text-align: center;">v6.4.4</div>
        </div>
        <div class="footer-elem">
            <h3>HELP</h3>
            <ul>
                <li><a target="_blank" href="https://docs.cbioportal.org/user-guide/overview/">Tutorials</a></li>
                <li><a target="_blank" href="https://docs.cbioportal.org/user-guide/faq/">FAQ</a></li>
                <li><a target="_blank" href="https://groups.google.com/forum/#!forum/cbioportal">User Group</a></li>
            </ul>
        </div>
        <div class="footer-elem">
            <h3>INFO</h3>
            <ul>
                <li><a target="_blank" href="https://docs.cbioportal.org/news/">News</a></li>
                <li><a target="_blank" href="https://about.cbioportal.org/">About</a></li>
                <li><a href="/api">API Docs</a></li>
            </ul>
        </div>
        <div class="footer-elem">
            <h3>CONTACT</h3>
            <ul>
                <li><a href="mailto:cbioportal@googlegroups.com">cbioportal@googlegroups.com</a></li>
            </ul>
        </div>
    </div>
</div>
