<div id="pageTopContainer" class="pageTopContainer">
    <div class="contentWidth">
        <header>
            <div id="leftHeaderContent">
                <a id="cbioportal-logo" href="/">
                    <img src="/static/img/cbioportal_logo.png" alt="cBioPortal Logo">
                </a>
                <nav id="main-nav">
                    <ul>
                        <li><a href="/datasets">Data Sets</a></li>
                        <li><a target="_blank" href="https://docs.cbioportal.org/web-api-and-clients/">Web API</a></li>
                        <li><a target="_blank" href="https://docs.cbioportal.org/user-guide/overview/">Tutorials/Webinars</a></li>
                        <li><a target="_blank" href="https://docs.cbioportal.org/user-guide/faq/">FAQ</a></li>
                        <li><a target="_blank" href="https://docs.cbioportal.org/news/">News</a></li>
                        <li><a href="/visualize">Visualize Your Data</a></li>
                        <li><a target="_blank" href="https://about.cbioportal.org/">About</a></li>
                        <li><a target="_blank" href="https://www.cbioportal.org/installations">cBioPortal Installations</a></li>
                        <li><a target="_blank" href="https://docs.cbioportal.org/donate/"><span style="color: red;"><span aria-hidden="true" class="fa fa-heart"></span></span> Donate</a></li>
                    </ul>
                </nav>
            </div>
            <div id="rightHeaderContent">
                <div class="identity">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </header>
    </div>
</div>
